---
title: "Blog Archiv"
permalink: "blog/archive"
---

{% extends "base.njk" %}

{% block content %}
  {# TODO: Reverse #}
  {% for year, posts in postsarchive | groupby("year") %}
    <h2>{{ year }}</h2>
    
    <ol>
      {% for post in postsarchive %}
        <li>
          <a href="blog/{{ post.slug }}">
            {{ post.date }} - {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ol>
  {% endfor %}
{% endblock %}
