---
title: "Manuel Matuzovic"
---

{% extends "base.njk" %}

{% block content %}
  <h2>Recent blog posts</h2>
  <ul>
    {% for post in posts %}
      <li>
        <a href="blog/{{ post.slug }}">
          {{ post.date }} - {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
