---
pagination:
  data: postsarchive
  size: 1
  alias: post
permalink: blog/{{ post.slug }}/index.html
---

{% extends "base.njk" %}

{% block sitetitle %}
  {{ post.title }}
{% endblock %}

{% block pagetitle %}
  {{ post.title }}
{% endblock %}

{% block content %}
  {{ post.teaser }}
  {{ post.body }}
{% endblock %}

